@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* *::before *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #101010;
  color: white;
}
.header {
  text-align: center;
  font-size: 4rem;
  margin-top: 0;
}
.container {
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  margin: auto;
}
.imgcontainer {
  display: flex;
  align-items: flex-end;
}
.imgcontainer__img {
  width: 22em;
  height: auto;
}
@keyframes imgcontainer__computer__img {
  0% {
    transform: scaleX(-1) rotate(0.73turn);
  }
  100% {
    transform: scaleX(-1) rotate(0.7turn) scale(1.1);
  }
}
.imgcontainer__computer__img {
  width: 10em;
  height: auto;
  transition: all 0.3s ease-out;
  animation: imgcontainer__computer__img both 3s;
}
.imgcontainer__computer__img-rock {
  display: none;
}
.imgcontainer__computer__img-paper {
  display: none;
}
.imgcontainer__computer__img-scissors {
  display: none;
}
.score {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  background-color: #db2b39;
  margin-bottom: 1em;
}
.btn {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #1f1f23;
}
.btn__img {
  width: 10em;
  height: auto;
}
.btn__buttons {
  width: 12em;
  height: 12em;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-out;
}
.btn__buttons-hoverpoint:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: white;
}
.btn__buttons-hoverpoint:focus {
  transform: scale(1.2);
  color: white;
}
.btn__buttons-cadetgray {
  color: #8d98a7;
}
.btn__buttons-almond {
  color: #dcccbb;
}
.btn__buttons-sunray {
  color: #eab464;
}
.footer {
  text-align: center;
  font-size: 1.1rem;
}
.footer__tags {
  position: fixed;
  bottom: 1em;
  text-align: center;
  width: 100%;
  font-size: 1.1rem;
}
.footer__tags__refs {
  text-decoration: none;
  color: white;
}
.endgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  display: none;
}
.endgame__message {
  font-size: 4rem;
}
.endgame__button {
  font-size: 1.1rem;
  padding: 0.5em 1em;
  border-radius: 0.1em;
  background-color: #db2b39;
  border: none;
  color: white;
  text-decoration: none;
}
.endgame__button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 3s ease-out;
}
