@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* *::before *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #101010;
  color: white;
}

.header {
  text-align: center;
  font-size: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: auto;
}
.img {
  width: 20em;
  height: auto;
}
.btn {
  margin-top: 5em;
}
.btn__img {
  width: 10em;
  height: auto;
  color: wheat;
}
.btn__button {
  width: 12em;
  height: 12em;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease-out;

}
.btn__button-hoverpoint:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: white;

}
.btn__button-highlight {
    border: 1px solid yellow;
    transform: scale(1.1);
    border-radius: 50%;
}
.btn__button-cadetgray {
  color: #8d98a7;
}
.btn__button-almond {
  color: #dcccbb;
}
.btn__button-sunray {
  color: #eab464;
}
.footer {
  display: flex;
  justify-content: center;
  margin: auto;
}
