@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* *::before *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #202020;
  color: white;
}

#header {
  text-align: center;
  font-size: 3rem;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 20em;
  margin: auto;
}
#img-doge {
    width: 20em;
    height: auto;
}
#buttons {
    margin-top: 2em;
}
button {
  width: 5em;
  height: 2em;
}
